/out/
/monaco-editor-samples/browser-esm-parcel/.cache/
/monaco-editor-samples/browser-esm-parcel/dist/
/monaco-editor-samples/browser-esm-webpack/dist/*.js
/monaco-editor-samples/browser-esm-webpack-monaco-plugin/dist/*.js
/monaco-editor-samples/browser-esm-webpack-small/dist/*.js
/monaco-editor-samples/browser-esm-webpack-typescript/dist/*.js
/monaco-editor-samples/browser-esm-webpack-typescript-react/dist/*.js
/monaco-editor/test/samples-all.generated.js
/monaco-editor/test/playground.generated/
/monaco-editor/typedoc/theme/
/monaco-editor/typedoc/monaco.d.ts
/monaco-editor/website/lib/
/monaco-editor-webpack-plugin/test/dist/*.js
/monaco-json/out/
/monaco-json/release/
/monaco-languages/out/
/monaco-languages/release/
/monaco-typescript/out/
/monaco-typescript/release/
/monaco-typescript/src/lib/
/release/
