body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI",Arial,"HelveticaNeue-Light", sans-serif;
	font-size: 13px;
	overflow: hidden;
}

select {
	width: initial;
}

.playground-page .title {
	font-family: "Segoe UI Light","HelveticaNeue-UltraLight", sans-serif;
	font-weight: 100;
	font-size: 1.8em;
}

.playground-page .tabArea {
	height: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #999;
}
.playground-page .tab {
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
	color: #999;
	padding: 0 8px;
	border: 1px solid #999;
	border-bottom: 0;
	cursor: pointer;
	float: left;
}
.playground-page .tab.active {
	color: black;
	border-bottom: 1px solid white;
}
.playground-page .action {
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
	color: black;
	padding: 0 5px;
	border: 1px solid #999;
	border-bottom: 0;
	cursor: pointer;
	float: right;
	padding-left: 16px;
}
.playground-page .action.run {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAE1JREFUOE9jKCsrY6AEU6QZZPHgNeA/0Hn7gdiBUPjg8gLIABjGaxAxBuA1iBQDYAalIXuLFAOweoUYA8gOA4pigegERrRCXOlhGBgAAGmggVf7bEk0AAAAAElFTkSuQmCC') no-repeat left center;
}
.playground-page .editor-container {
	border: 1px solid #999;
	border-top: 0;
}


