@mixin vendors($property, $value...)
    -webkit-#{$property}: $value
    -moz-#{$property}: $value
    -ms-#{$property}: $value
    -o-#{$property}: $value
    #{$property}: $value

@mixin clearfix
    &:after
        visibility: hidden
        display: block
        content: ""
        clear: both
        height: 0

@mixin retina
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
        &
            @content

%prevent-children-margin
    > :first-child,
    > :first-child > :first-child,
    > :first-child > :first-child > :first-child
        margin-top: 0

    > :last-child,
    > :last-child > :last-child,
    > :last-child > :last-child > :last-child
        margin-bottom: 0
