html.minimal
    .container
        margin: 0

    .container-main
        padding-top: 50px
        padding-bottom: 0

    .content-wrap
        padding-left: 300px

    .tsd-navigation
        position: fixed !important
        overflow: auto
        -webkit-overflow-scrolling: touch
        box-sizing: border-box
        z-index: 1
        left: 0
        top: 40px
        bottom: 0
        width: 300px
        padding: 20px
        margin: 0

    .tsd-member .tsd-member
        margin-left: 0

    .tsd-page-toolbar
        position: fixed
        z-index: 2

    #tsd-filter .tsd-filter-group
        right: 0
        transform: none

    footer
        background-color: transparent

        .container
            padding: 0

    .tsd-generator
        padding: 0

    +size-xs-sm
        .tsd-navigation
            display: none
        .content-wrap
            padding-left: 0
