<ul class="tsd-hierarchy">
    {{#each types}}
        <li>
            {{#if ../isTarget}}
                <span class="target">{{this}}</span>
            {{else}}
                {{> type}}
            {{/if}}

            {{#if @last}}
                {{#with ../next}}
                    {{> hierarchy}}
                {{/with}}
            {{/if}}
        </li>
    {{/each}}
</ul>
